<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="icon/favicon.png">

        <title>Ankieta dotycząca memów</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
			
                </div>
                <div class="col-md-8">
                    <h1>Ankieta dotycząca memów</h1>
                    <h3>Strona ta jest ankietą, która ma na celu zebranie danych statystycznych dotyczących memów oraz treści viralowych. Dane te zostaną wykorzystane to wysunięcia wniosów przy tworzeniu pracy inżynierskiej. </h3>
                    </br>
                    <form class="form-horizontal" th:action="@{/form}" method="post" th:object="${answers}">
                        <!-- AGE -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">1. Zaznacz przedział wiekowy:</label>
                            <div class="col-md-4"> 
                              <label class="radio-inline" for="age-1">
                                <input type="radio" name="age" id="age-1" th:field="*{age}" value="mniej niż 15 lat">
                                mniej niż 15 lat  
                              </label> </br>
                              <label class="radio-inline" for="age-2">
                                <input type="radio" name="age" id="age-2" th:field="*{age}" value="15-18 lat">
                                15-18 lat 
                              </label> </br>
                              <label class="radio-inline" for="age-3">
                                <input type="radio" name="age" id="age-3" th:field="*{age}" value="18-25 lat">
                                18-25 lat
                              </label> </br>
                              <label class="radio-inline" for="age-4">
                                <input type="radio" name="age" id="age-4" th:field="*{age}" value="powyżej 25 lat">
                                powyżej 25 lat
                              </label> </br>
                            </div>
                        </div>

                        <!-- GENDER -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">2. Płeć:</label>
                            <div class="col-md-4"> 
                              <label class="radio-inline" for="gender-1">
                                <input type="radio" name="gender" id="gender-1" th:field="*{gender}" value="mężczyzna">
                                mężczyzna  
                              </label> </br>
                              <label class="radio-inline" for="gender-2">
                                <input type="radio" name="gender" id="gender-2" th:field="*{gender}" value="kobieta">
                                kobieta 
                              </label> </br>
                            </div>
                        </div>

                        <!-- PRZYCISKI -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="add_button"></label>
                            <div class="col-md-4">
                              <button id="add_button" type="submit" class="btn btn-primary">Wyślij</button>
                            </div>
                          </div>
                    </form>
                </div>
                <div class="col-md-2">
			
                </div>
            </div>
        </div>
    </body>
</html>
